.overlay {
    filter: 50%;
}



@media only screen and (max-device-width: 480px) {
    .carousel-caption h1 {

        padding-top: 2rem;
        font-size: 16px;
        font-weight: 900;
    }

    .carousel-caption p {

        font-size: 12px;
    }

    .carousel-caption button {

        padding: auto;
    }
}