.bright {
    filter: brightness(40%);
}



@media only screen and (max-device-width: 480px) {
    .carousel-caption h1 {

        padding-top: 2rem;
        font-size: 15px;
        font-weight: 900;
    }

    .carousel-caption p {

        font-size: 8px;
    }

    .carousel-caption button {

        padding: auto;
    }
}